@model IEnumerable<MVC_001.Models.Student>

@{
    ViewBag.Title = "Öğrenci Listeleme";
}
@if (TempData["editmessage"] != null)
{
    <section class="alert alert-info">
        @TempData["editmessage"]
    </section>
}
@if (TempData["deletemessage"] != null)
{
    <section class="alert alert-danger">
        @TempData["deletemessage"]
    </section>
}
<section class="p-4">
    <p>
        @if (Response.Cookies.AllKeys.Contains("userlogin"))
        {
            @Html.ActionLink(linkText: "Add Student", actionName: "Add", controllerName: "Student", htmlAttributes: new { @class = "btn btn-success" }, routeValues: new { })
            @*<a class="btn btn-success" href="/Student/Create">Create New</a>*@
        }

        @*@Html.ActionLink("Create New", "Create")*@




    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ID)
                @*Nesne özellik adını alır.=> ID*@
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
                @*Nesne özellik adını alır.=> Name*@
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Surname)
                @*Nesne özellik adını alır.=> Surname*@
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ID)
                    @*Nesne özelliğinin değerini alır.=> 1/2*@
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                    @*Nesne özelliğinin değerini alır.=> John/Jane*@
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Surname)
                    @*Nesne özelliğinin değerini alır.=> Doe/Doe*@

                </td>
                <td>
                    @Html.ActionLink(linkText: "Edit", actionName: "Edit", controllerName: "Student", routeValues: new { id = item.ID }, htmlAttributes: new { @class = "btn btn-success" }) |
                    @Html.ActionLink(linkText: "Details", actionName: "Details", controllerName: "Student", routeValues: new { id = item.ID }, htmlAttributes: new { @class = "btn btn-light" }) |
                    @Html.ActionLink(linkText: "Delete", actionName: "Delete", controllerName: "Student", routeValues: new { id = item.ID }, htmlAttributes: new { @class = "btn btn-danger" })
                </td>
            </tr>
        }

    </table>
</section>
